.profile-header .row{
    --bs-gutter-x: 0rem
}
.p-img{
    height:450px;
}
@media (max-width:990px) {
    .p-img{
        height:360px;
    }
}
@media (max-width:430px) {
    .p-img{
        height:260px;
    }
}